body {
	width: 1600px;
	margin: 0 auto;
}

html{
	background-color: #AACCFF;
}

.seperator {
	width: 1280px;
	height: 1px;
}

.header {
	width: 1280px;
	height: 100px;	
	margin: 0 auto;
	margin-top: -20px;
	background-color: white;
	text-shadow: 2px 2px 6px #CCC;	
}

#lablogo {
	margin-left: 20px;
	margin-top: 40px;
}

#lab {
	display: inline-block;
	position: absolute;
	margin-top: 45px;
	text-shadow: 2px 2px 6px #CCC;
}

#name {
	margin-left: 10px;
	font: 18px verdana;
	font-weight: bold;
	color: #3A53A4;
}

#description {
	margin-left: 10px;
	color: #70CDDD;
	font: 16px verdana;
}

#columbialogo {
	float: right;
	margin-top: 37px;
	margin-right: 10px;
}

.tabs {
	display: block;
	width: 1280px;
	margin: 0 auto;
	text-align: center;
	background-color: #88A3CC;
}

.indivtabs {
	background-color: #88A3CC;
	display: inline-block;
	font-size: 18px;
	font-family: verdana;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	transition: font-size 0.1s;
	-webkit-transition: font-size 0.1s;
}

.indivtabs a {
	text-decoration: none;
	color: white;
}

.indivtabs:hover {
	font-size: 20px;
}

.body {
	width: 1280px;
	margin: 0 auto;
	background-color: white;
	height: 1000px;
}

